$default-font: "Helvetica Neue", sans-serif;
$primary-color: #cc0009;
$secondary-color: white;
$tertiary-color: #3f3f3f;

.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1567306226416-28f0efdc88ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
}
