/* Site Colors: Dark grey: #303841, medium-grey: #3A4750, red: #D72323 blue: #1089FF */

/* simple selector styling */

body {
    font-family: roboto, Arial, Helvetica, "Droid Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #303841;
    padding: 15px;
    text-align: center;
}

h3 {
    color: #fff; 
    padding: 2%; 
}

hr {
    border-bottom: #D72323 inset 1px;
    margin: auto;
    width: 15%;
}

/* header section */
header.container-fluid {
    border-bottom: #D72323 inset 1px;
}

.nav-item {
    padding: 0 15px;
}

#register-link {
    color: #1089FF;
}


/* main-display carousel */
.main-carousel {
    text-align: center;
}

.main-carousel h1 {
    background-color: rgba(54, 38, 42, 0.616);
    border-radius: 2%;
    color: #fff; 
    max-width: fit-content;
    margin: auto;
    padding: 5%; 
    margin-bottom: 10%;
}

.carousel-item-1 {
    background-image: url("https://images.unsplash.com/photo-1471895131770-64cf5212f657?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1103&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 10% 2%;
}

.carousel-item-2 {
    background-image: url("https://images.unsplash.com/photo-1506617420156-8e4536971650?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 10% 2%;
}

.carousel-item-3 {
    background-image: url("https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 10% 2%;
}

.btn-red {
    color: #fff;
    background-color: #D72323;
    border-color: #D72323;
    padding: 15px;
}

.btn-red:hover {
    color: #fff;
    background-color: #a71f1f;
    border-color: #a71f1f;
    padding: 15px;
}

/* Banner */
[role="banner"] {
    background-color: #1089FF;
    margin: 25px;
    text-align: center;
}

.btn-banner {
    margin-bottom: 5px;
}

/* Featured Products */
.featured-products {
    text-align: center;
}

.featured-products h2 {
    margin-top: 1em;
}

.featured-products a:link, .featured-products a:visited {
    color: #D72323;
    text-decoration: none;
}
  
.featured-products a:hover {
    color: #a71f1f;
}
  
.featured-products a:active {
    color: #a71f1f;
    text-decoration: underline;
} 

.card-title {
    font-family: 'Open Sans', sans-serif;  
}

.card-text {
    text-align: left;
}

.card-title {
    background-color: #3A4750;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* News */
.covid-news {
    width: 80%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 4em;
}

/* footer */
.footer {
    background-color: #303841;
    text-align: center;
    padding: 20px;
}

.footer a:link, .footer a:visited {
    color: #fff;
    text-decoration: none;
}
  
.footer a:hover {
    color: #D72323;
}
  
.footer a:active {
    color: #a71f1f;
    text-decoration: underline;
} 

.footer p {
    padding: 2.5em 0 .5em;
    text-align: center;
}

/* ---- Aisle page styles ---- */

.aisle-title {
    background-color: #D72323;
    color: #fff;
    padding: 1.2em;
    text-align: center;
}

.aisle-featured h2 {
    padding: 1em;
}

.aisle-featured hr {
    margin-bottom: 1.5em;
}

.featured-products-cards {
    margin-bottom: 3em;
}

.card-price {
    font-weight: 600;
}

/* ---- Media Queries in addition to the Bootstrap Queries ---- */

@media (min-width: 576px) { 
    .footer {
        max-width: 98%;
    }
}

@media (min-width: 768px) {
    .footer {
        max-width: 98%;
    }
}

@media (min-width: 992px) {
    .footer {
        max-width: 98%;
    }
}


@media (min-width: 1200px) {
    .footer {
        max-width: 98%;
    }

    .aisle-title {
        font-size: 1.8em;
    }
}